<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="test">
		<classes>
<!--			<class name="tests.FilePickerPageTest" />-->
			<!-- <class name="tests.RedLineViewPageTest" /> -->
			<class name="resttestcases.LoginAPITest" />
			<class name="resttestcases.FoldersAPITest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
